html {
	background-color: #F7F9F9;
	width: auto;
	/*max-width: 100%;*/
	/*overflow-x: hidden;*/
}
.jumbotron {
	height: 400px;
	background-image: url(../img/bg-top.png); /*#091e72*/
	background-attachment: fixed;
	background-position: center bottom;
	background-size: cover;
	margin-bottom: 0;
	padding-bottom: 0;
}

.jumbotron h1,
.jumbotron p {
	color: white;
}

.jumbotron .container {
	width: auto;
	margin-top: 80px;
	/*margin-left: 190px;*/
	text-align: center;
}

p a.btn.btn-primary.btn-lg {
	border: 1px solid white;
	background-color: #1F618D;
	border-radius: none;
}

.container img {
	border: 2px solid white;
	border-radius: 50%;
	width: 180px;
	height: 150px;
	filter: grayscale(100%);
	position: center;

}


/*training*/

.training {
	height: auto;
	background-color: #FBFCFC;
}



.training h2 {
	margin: 0;
	width: auto;
	text-align: center;
	padding-top: 50px;
	font-family: 'Mitr', sans-serif;
}

.training h3 {
	font-family: 'Peddana', serif;
	font-size: 30px;
}	

.training h3, 
.training p {
	width: 65%;
	margin-left: 18%;
	text-align: center;
}

.training p {
	font-size: 17px;
	font-family: 'News Cycle', sans-serif;
}

/*skills and knowledge*/

.skill-container {
	height: 650px!important;
	width: auto;
	background-color: #E5E7E9;
}

.skill-container h2 {
	margin-top: 0;
	padding-top: 25px;
	width: auto;
	text-align: center;
	font-family: 'Mitr', sans-serif;
}

.skill-leftside {
	width: 50%;
	float: left;
	margin-top: 0;
	padding-top: 25px;
	
}

.header-1{
	margin-top: 20px;
	font-family: 'Chathura', sans-serif;
	margin-bottom: 10px;
}

.header-1 h3 {
	font-size: 42px;
	width: auto;
	text-align: center;
}


.skill-1 {
	display: inline-block;
	text-align: center;
	margin-left: 50px;
}

.skill-wrapper-1 {
	width: auto;
	text-align: center;
	padding-right: 55px;
}

.skill-1 img {
	height: 65px;
	width: 65px;
	
}

.skill-1 p {
	font-family: 'Bree Serif', serif;
}

.skill-2 {
	display: inline-block;
	width: auto;
	text-align: center;
	margin-left: 50px;
}

.skill-2 img {
	height: 65px;
	width: 55px;
	
}

.skill-2 p {
	font-family: 'Bree Serif', serif;
}

.skill-3 {
	display: inline-block;
	margin-left: 50px;
}

.skill-3 img {
	height: 65px;
	width: 65px;
}

.skill-3 p {
	text-align: center;
	font-family: 'Bree Serif', serif;
}

.skill-rightside {
	width: 50%;
	margin-top: 0;
	float: right;
	padding-top: 25px;
	
}

div.skill-4 img.db {
	width: 80px;
	height: 50px;
}

.header-2{
	margin-top: 20px;
	font-family: 'Chathura', sans-serif;
	margin-bottom: 10px;
}

.header-2 h3 {
	font-size: 42px;
	width: auto;
	text-align: center;
}


.skill-4 {
	display: inline-block;
	text-align: center;
	margin-left: 50px;
}

.skill-wrapper-2 {
	width: auto;
	text-align: center;
	padding-right: 55px;
}

.skill-4 img {
	height: 65px;
	width: 65px;
	
}

.skill-4 p {
	font-family: 'Bree Serif', serif;
}

.skill-5 {
	display: inline-block;
	width: auto;
	text-align: center;
	margin-left: 50px;
}

.skill-5 img {
	height: 65px;
	width: 55px;
	
}

.skill-5 p {
	font-family: 'Bree Serif', serif;
}



/*Portfolio*/

.portfolio-container {
	background-color: #FBFCFC;
	padding-top: 0;
	min-height: 100%;
overflow: hidden;
/*max-width: 100%;*/
	padding-bottom: 80px;
	/* margin-bottom: 50px; */
	text-align: center;
}

.col-sm-12.col-md-12 {
	align-content: center;
}

.portfolio-container h2 {
	margin-top: 0;
	padding-top: 50px;
	margin-bottom: 50px; 
	width: auto;
	text-align: center;
	font-family: 'Mitr', sans-serif;
}

.row {
	margin-right: 0;
	margin-left: 0;
	width: auto;
}

.thumbnail {
	height: 10%;
	width: 50%;
}

.thumbnail img {
	width: 100%;
	height: auto;
}

.caption {
	height:50%; 
}

.caption h3 {
	font-size: 40px;
	font-family: 'Chathura', sans-serif;
}

.caption p {
	font-size: 17px;
	font-family: 'News Cycle', sans-serif;
}

.port-1, .port-3, .port-2 {
	margin-left: 25%;
	margin-bottom: 15px;
}


.port-4 {
	margin-left: 25%;
	margin-bottom: 25px;
}

/*about me and education*/

.about {
	height: auto;
	position: relative;
	background-color: #E5E7E9;
	padding-bottom: 40px; 
}	

div.profilepic {
	width: auto;
	text-align: center;
}

.about img {
	border: 2px solid grey;
	border-radius: 50%;
	height: 140px;
	width: 140px;
	position: relative;
	bottom: 80px;

	/*right: 45%;*/
}

.about-me {
	width: 75%;
	margin-left: 12%;
}

.about-me h2 {
	margin-top: 0;
	padding-top: 20px;
	margin-bottom: 15px;
	font-family: 'Mitr', sans-serif;
	width: auto;
	text-align: center;
}

.about-me p {
	width: auto;
	text-align: center;
	font-family: 'News Cycle', sans-serif;
	font-size: 17px;
}

.education {
	margin-top: 50px;
}

.education h2 {
	font-family: 'Chathura', sans-serif;
	font-size: 42px;
	width: auto;
	text-align: center;
}


.education	 p {
	width: auto;
	text-align: center;
	font-size: 17px;
	font-family: 'News Cycle', sans-serif;
}	

/*work experiences*/

.experiences {
	background-color: #E5E7E9;
	padding-top: 0;
	height: 350px;
	padding-bottom: 100px;
}

.experiences h2 {
	width: auto;
	margin-top: 0;
	padding-top: 20px;
	text-align: center;
	font-family: 'Chathura', sans-serif;
	font-size: 42px;
}

.region {
	margin-top: 25px;
}

.local {
	width: 50%;
	float: left;
	text-align: center;
}

.local h2,
.international h2 {
	font-family: 'Chathura', sans-serif;
	font-size: 42px;
}

.local p {
	font-size: 17px;
	font-family: 'News Cycle', sans-serif;
}

.international {
	width: 50%;
	float: right;
	text-align: center;
}

.international p {
	font-size: 17px;
	font-family: 'News Cycle', sans-serif;
}

/*contact-details*/

.contact {
	height: auto;
	background-color: #FBFCFC;
}

.row1 {
	width: 100%;
	padding-top: 50px;
	text-align: center;
}

.row2 {
	width: 100%;
	text-align: center;
}

.row2 img {
	height: 50px;
	width: 55px;
}




@media screen and (min-device-width: 320px) and (max-device-width: 720px){

.thumbnail {
	height: auto;
	width: auto;
}


.portfolio-container {
	
overflow: visible;
margin: auto 0;
height: auto;

}



.port-1, .port-3 {
	margin: 0;
}

.port-2, .port-4 {
	margin: 0;
}

.skill-container {
	height: auto!important;
	display: block;
}

.skill-rightside {
	text-align: center;
	width: auto;
	/*margin-top: 0;*/
	float: none;
	/*padding-top: 25px;*/
	
}

.skill-leftside {
	/*text-align: center;*/
	width: auto;
	/*margin-top: 0;*/
	float: none;
	padding-top: 0;


	
}

.skill-wrapper-1	{
	/*display: inline;*/
}


}


/*@media screen and (min-device-width: 721px) and (max-device-width: 959px){
	.skill-container {
	height: 550px!important;
	display: block;
	}

	.portfolio-container .col-sm-12 {
		float: none;
		width: auto;
		margin: auto 0;
	}
}*/	


@media screen and (min-device-width: 721px) and (max-device-width:960px) {

.thumbnail {
	height: auto;
	width: auto;
}


.portfolio-container {
	
overflow: visible;
margin: auto 0;
height: auto;

}



.port-1, .port-3 {
	margin: 0;
}

.port-2, .port-4 {
	margin: 0;
}

.skill-container {
	height: 950px!important;
	display: block;
}

.skill-rightside {
	text-align: center;
	width: auto;
	/*margin-top: 0;*/
	float: none;
	/*padding-top: 25px;*/
	
}

.skill-leftside {
	text-align: center;
	width: auto;
	/*margin-top: 0;*/
	float: none;
	/*padding-top: 25px;*/


	
}

.skill-wrapper-1	{
	display: inline;
}


}




